*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: white;
  color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  
}

.app {
  display: flex;
  min-height: 100vh;
}

/* Сол жақ панель */
.sidebar {
  width: 30%;
  padding: 30px;
  box-shadow: 2px 0 10px rgba(241, 240, 240, 0.922);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgb(90, 87, 87);
  color: white;
  
}

input {
  padding: 10px;
  width: 80%;
  border: 1px solid gainsboro;
  border-radius: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.weather-info {
  margin-top: 30px;
  text-align: center;
}

.weather-info img {
  width: 100px;
  animation: float 2s infinite alternate;
}

@keyframes float {
  0% { transform: translateX(-10px); }
  100% { transform: translateX(10px); }
}

.desc {
  font-size: 18px;
  color: white;
}

.city {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

/* Оң жақ негізгі бөлік */
.main {
  flex: 1;
  padding: 30px;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 30px;
}

.topnav a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: white;
}

.topnav a.active,
.topnav a:hover {
  background-color: white;
}

.highlights {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  width: 200px;
  text-align: center;
}

.card h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
}

.card p {
  font-size: 20px;
  font-weight: bold;
}
#map {
  width: 100%;
  max-width: 500px;
  height: 300px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.appaq{
  color: white
}
.appaq2{
  color: white;
}
.appaq3{
  color: white;
}
#weekForecast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

#weekForecast .card {
  width: 160px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  text-align: center;
}
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    box-shadow: none;
    border: none;
    body {
      flex-direction: column;
    }
  
    .content {
      width: 100%;
      padding: 10px;
    }
  
    .navbar, .footer {
      text-align: center;
    }
  
  }
  .main {
    padding: 10px;
  }
  .highlights {
    justify-content: center;
  }
}


  
