.card {
    width: 400px;
    height: 400px;
    background-color: green;
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
}
img{
    width: 200px;
    height: 200px;
    transition: transform 1s ease;
    
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

img:hover {
    transform: scale(1.2);
}

